{{- if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/usr/bin/env bash

set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ] ; then
  set -x
fi

readonly KEY_PATH="$HOME/.ssh/id_ed25519_github_sign"

function generate_ssh_key() {
  if [ -f "$KEY_PATH" ] ; then
    return
  fi

  ssh-keygen -t ed25519 -f "$KEY_PATH" -C "{{ .git.user.email }}"

  {{ if eq .chezmoi.os "darwin" -}}
  # macOS: Add the SSH key to the ssh-agent and store the passphrase in the keychain
  ssh-add --apple-use-keychain "$KEY_PATH"
  {{- end }}
}

function main() {
  generate_ssh_key
}

main
{{- end -}}
